.containerAboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 100px;
}

.containerAboutUs p {
  padding: 15px 45px 0px 45px;
  text-align: center;
}

.containerAboutUs div {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-top: 20px;
}